/* Rainbow Progress Bar */
.x-progressBar-fillColor {
    background: linear-gradient(to right, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background-size: 200% 100%; /* Make the gradient twice as wide */
    animation: scroll 2s linear infinite;
}

@keyframes scroll {
    from {
        background-position: 0 0; /* Start at the left */
    }
    to {
        background-position: 200% 0; /* Move to the left by 100% of the element's width */
    }
}


/* Nyan Bar Slider */
.progress-bar__slider {
    display: flex !important;
    width: 24px;
    height: 15px;
    border-radius: 0;

    --anim-speed: 500ms;

    background-size: contain; /* Scale the image to fit within the slider */
    background: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_1.png?raw=true') no-repeat;
    background-size: 100% 100%;
}

.progress-bar__slider.play-anim {
    animation: nyanFrameAnim var(--anim-speed) steps(6) infinite;
}

@keyframes nyanFrameAnim {
    0% {
        background-position-y: 0;
        background-image: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_1.png?raw=true');
    }
    16.67% {
        background-image: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_2.png?raw=true');
    }
    33.33% {
        background-image: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_3.png?raw=true');
    }
    50% {
        background-position-y: 1px;
        background-image: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_4.png?raw=true');
    }
    66.67% {
        background-image: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_5.png?raw=true');
    }
    83.33% {
        background-image: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_6.png?raw=true');
    }
    100% {
        background-position-y: 0;
        background-image: url('https://github.com/NoahClemmensen/spicetify-nyan-bar-synced/blob/master/src/resources/images/nyan_1.png?raw=true');
    }
}